name: deploy-book

# Only run this when the main branch changes
on:
  push:
    branches:
      - main

jobs:
  deploy-book:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    # Set up Python environment
    - name: Set up Python 3.13
      uses: actions/setup-python@v2
      with:
        python-version: 3.13

    # Install dependencies
    - name: Install dependencies
      run: |
        pip install -r requirements.txt

    # Debug structure
    - name: Debug structure
      run: |
        echo "Current directory: $(pwd)"
        find . -maxdepth 3 -type f -name "_config.yml"

    # Build the English version of the book
    - name: Build English Book
      run: |
        jupyter-book build . --config _config.yml --toc _toc.yml --path-output _build/english

    # Build the Spanish version of the book (adjust output path to avoid nested '_build')
    - name: Build Spanish Book
      run: |
        jupyter-book build . --config _config.yml --toc es_toc.yml --path-output spanish

    # Check if the English build directory exists
    - name: Check English Build Directory
      run: |
        if [ ! -d "_build/english/html" ]; then
          echo "Error: English build directory does not exist!";
          exit 1;
        fi

    # Check if the Spanish build directory exists
    - name: Check Spanish Build Directory
      run: |
        if [ ! -d "spanish/html" ]; then
          echo "Error: Spanish build directory does not exist!";
          exit 1;
        fi

    # Deploy the English version to GitHub Pages
    - name: Deploy English Book to GitHub Pages
      uses: peaceiris/actions-gh-pages@v3.6.1
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./_build/english/html
        publish_branch: gh-pages
        keep_files: true

    # Deploy the Spanish version to GitHub Pages
    - name: Deploy Spanish Book to GitHub Pages
      uses: peaceiris/actions-gh-pages@v3.6.1
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./spanish/html
        publish_branch: gh-pages
        keep_files: true
