name: deploy-book

on:
  push:
    branches:
      - main

jobs:
  deploy-book:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    # Set up Python environment
    - name: Set up Python 3.13
      uses: actions/setup-python@v2
      with:
        python-version: 3.13

    # Install dependencies
    - name: Install dependencies
      run: |
        pip install -r requirements.txt

    # Debug structure
    - name: Debug structure
      run: |
        echo "Current directory: $(pwd)"
        find . -maxdepth 3 -type f -name "_config.yml"

    # Build the English version of the book
    - name: Build English Book
      run: |
        jupyter-book build content \
          --config ../_config.yml \
          --toc ../_toc.yml \
          --path-output english
        echo "Contents of english directory:"
        ls -al english

    # Build the Spanish version of the book
    - name: Build Spanish Book
      run: |
        jupyter-book build content/es \
          --config ../../_config.yml \
          --toc ../../es_toc.yml \
          --path-output spanish
        echo "Contents of spanish directory:"
        ls -al spanish

    # Debugging: List all contents of the workspace
    - name: List all contents of workspace
      run: |
        echo "Listing all files in the workspace:"
        ls -al

    # Check if the English build directory exists
    - name: Check English Build Directory
      run: |
        echo "Checking if english exists"
        if [ ! -d "english" ]; then
          echo "Error: English build directory does not exist!"
          exit 1
        else
          echo "English build directory found."
        fi

    # Check if the Spanish build directory exists
    - name: Check Spanish Build Directory
      run: |
        echo "Checking if spanish exists"
        if [ ! -d "spanish" ]; then
          echo "Error: Spanish build directory does not exist!"
          exit 1
        else
          echo "Spanish build directory found."
        fi

    # Deploy the English version to GitHub Pages
    - name: Deploy English Book to GitHub Pages
      uses: peaceiris/actions-gh-pages@v3.6.1
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./english
        publish_branch: gh-pages
        keep_files: true

    # Deploy the Spanish version to GitHub Pages
    - name: Deploy Spanish Book to GitHub Pages
      uses: peaceiris/actions-gh-pages@v3.6.1
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./spanish
        publish_branch: gh-pages
        keep_files: true
