name: deploy-book

# Only run this when the main branch changes
on:
  push:
    branches:
      - main

# This job installs dependencies, builds the book, and pushes it to `gh-pages`
jobs:
  deploy-book:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    # Set up Python environment
    - name: Set up Python 3.13
      uses: actions/setup-python@v2
      with:
        python-version: 3.13

    # Install dependencies
    - name: Install dependencies
      run: |
        pip install -r requirements.txt

    # Debug structure
    - name: Debug structure
      run: |
        echo "Current directory: $(pwd)"
        find . -maxdepth 3 -type f -name "_config.yml"

    # Build the English version of the book
    - name: Build English Book
      run: |
        jupyter-book build . --config _config.yml --toc _toc.yml --path-output _build/english

    # Build the Spanish version of the book
    - name: Build Spanish Book
      run: |
        jupyter-book build . --config _config.yml --toc es_toc.yml --path-output _build/spanish

    # Deploy the English version to GitHub Pages
    - name: Deploy English Book to GitHub Pages
      uses: peaceiris/actions-gh-pages@v3.6.1
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./_build/english/html
        destination_dir: /english  # Optional: Publish to a subdirectory (e.g., `gh-pages/english`)

    # Deploy the Spanish version to GitHub Pages
    - name: Deploy Spanish Book to GitHub Pages
      uses: peaceiris/actions-gh-pages@v3.6.1
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./_build/spanish/html
        destination_dir: /spanish  # Optional: Publish to a subdirectory (e.g., `gh-pages/spanish`)
